body{
  color: #ef5941;
  background-color: white;
}

.business_card{
  background-color: grey;
}


#logolarge{
  display:block;
  position:relative;
  margin: 9% auto;
  margin-bottom: 3%;
  font-size: 20px;
  width:400px;
  height:400px;
  -webkit-transition: all 0.5s ease-in-out;

}

#logosmall{
  display:block;
  position:relative;
  margin: 0;
  font-size: 6px;
  width: 10vh;
  height:10vh;
  -webkit-transition: all 0.5s ease-in-out;

}

#panellarge{
  position:relative;
  margin: 9px auto;
  font-size: 18px;
  width:600px;
  max-height: 80vh;
  padding: 20px 0;
  overflow: auto;
 

}
#fadeoutbottom{
  position: fixed; 
  bottom: 0em;
  width:100%;
  height: 5em;
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0) 10%,rgba(255, 255, 255, 1) 100%); 
}

#fadeouttop{
  position: fixed; 
  top: 10vh;
  width:100%;
  height: 5em;
  background: -webkit-linear-gradient(rgba(255, 255, 255, 1) 0%,rgba(255, 255, 255, 0) 100%); 
  -webkit-transition: all 0.5s ease-in-out;

}


.linktext{
  text-align: center;
  margin-top: 40%;
  color: #fffff0;
}

.linkbox{
  display:block;
  clear:right;
}

#warning{
  font-size: 25px;
  text-align: center;
  width:400px;
  margin: 0 auto;
}

#underconstruction{
  display:none;
  position:absolute;
  text-align: center;
  left: 50%;
  top:50%;
  transform: translate(-50%,-50%);
}




.corner{
  position: absolute;
  width: 50%;
  height:50%;
  -webkit-transition: all 0.5s ease-in-out;
}

.cornersplit{
  position: absolute;
  width: 40%;
  height:40%;
  -webkit-transition: all 0.5s ease-in-out;
}
#projects_button {
  left:50%;
  top:0%;
  background-image: radial-gradient(circle at 0 100%, rgba(204,0,0,0) 25%, rgba(157, 167, 85, .9) 15px);
}

#projects_button:hover {
  background-image: radial-gradient(circle at 0 100%, rgba(204,0,0,0) 25%, rgba(157, 167, 85, .5) 15px);
}

.technologies_container{
  clear:left;
  display:block;
  color:rgba(81, 81, 81, 1.0);
  text-align: center;
  border: solid 3px rgba(239, 89, 65, 1.0);
  

}

.projectsnapshot{
  max-width:200px;
  margin: 15px 5px 0 0;
  float:left;
}

.project_tags{
  display: block;
  height: 130px;
  margin-bottom: 20px;
}


.projectsummarytext{
  position: relative;

  margin-top: 10px;
  padding-bottom: 20px;
  border-bottom: solid 1px grey;
  max-height: 200px;
  overflow: hidden;
}


.project_title{
  display:inline-block;
  
  margin-bottom: 15px;
}
.projectlinks{
  font-size: 12px;
  display: inline-block;
  padding-bottom: 10px;
}

.more{
  display: none;
  position: absolute;
  right: 0;
  bottom: 0;
  text-align: right;
  width:  100%;
  background: none; 
  background: -webkit-linear-gradient(left top, rgba(255,255,255,.3), rgba(255,255,255,1)); 
  background: -o-linear-gradient(bottom right, rgba(255,255,255,.3), rgba(255,255,255,1)); 
  background: -moz-linear-gradient(bottom right, rgba(255,255,255,.3), rgba(255,255,255,1)); 
  background: linear-gradient(to bottom right, rgba(255,255,255,.3), rgba(255,255,255,1)); 
}


#whoisbutton {
  color:#fffff0;
  left:0%;
  top:0%;
  background-image: radial-gradient(circle at 100% 100%, rgba(204,0,0,0) 25%, rgba(115, 144, 219, .9) 15px);
}

#whoisbutton:hover {
  background-image: radial-gradient(circle at 100% 100%, rgba(204,0,0,0) 25%, rgba(115, 144, 219, .5) 15px);
}

#whoisissummary{
  background-color: rgba(115, 144, 219, .3);
}

.icons{
  margin: 15px 10px 0 3px;
  width:50px;
 
}


.flow{
  float: left;
  border-radius: 25%;
}

.flowing{
  padding-top:10px;
}

.boxed{
  float:right;
}

.contactslist{
  list-style: none;
}

.contactlink{
  color:#ef5941;
  vertical-align: 20px;
}


#technologiesbutton {
  left:0%;
  top:50%;
  background-image: radial-gradient(circle at 100% 0, rgba(204,0,0,0) 25%, rgba(168, 109, 155, .9) 15px);
}
#technologiesbutton:hover {
  background-image: radial-gradient(circle at 100% 0, rgba(204,0,0,0) 25%, rgba(168, 109, 155, .5) 15px);
}

#contactsbutton {
  left:50%;
  top:50%;
  background-image: radial-gradient(circle at 0 0, rgba(204,0,0,0) 25%, rgba(230, 142, 131, .9) 15px);
}

#contactsbutton:hover {
  background-image: radial-gradient(circle at 0 0, rgba(204,0,0,0) 25%, rgba(230, 142, 131, .5) 15px);
}

#logo{
  position:absolute;
  left:37.5%;
  top:37.5%;
  width: 25%;
  height:25%;
  text-align: center;
}

#logotext{
  display:block;
  position:absolute;
  font-size: 14px;
  left:20%;
  top:42.0%;
  width: 50%;
  height:25%;
  text-align: center;
}

#logocontactnumber{
  padding-right: 13px;
}

#strapline{
  display:block;
  position: absolute;
  text-align: center;
  font-size: 22px;
  margin-top:10%;
  top:100%;
  width:100%;
}

.temporary_business_card{
  display:block;
  margin: 20px auto;
  width: 200px;
  height:200px;
  text-align: center;
}
.cvcontainer{
  display: block;
  margin: 0 auto;
  width: 640px;
}

.cv{
  display:block;
  width:305px;
  margin:5px;
  float:left;

}

@media only screen 
  and (min-device-width: 319px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { #logolarge{
  display:block;
  position:relative;
  margin: 50% auto;
  margin-bottom: 3%;
  font-size: 20px;
  width:400px;
  height:400px;
  -webkit-transition: all 0.5s ease-in-out;

}

#logosmall{
  display:block;
  position:relative;
  margin: 0 auto;
  margin-top: 3%;
  font-size: 6px;
  width: 10vh;
  height:10vh;
  -webkit-transition: all 0.5s ease-in-out;

}

h2{
  text-align: center;
}

.contactslist{
  margin: margin 0 auto;
}

#fadeouttop{
  display: none;
}

.contact_list_item{
  display:block;
  margin: 0 0 0 100px;
}



}

@media only screen 
  and (min-device-width: 100px) 
  and (max-device-width: 318px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { #logolarge{
  display:block;
  position:relative;
  margin: 50% auto;
  margin-bottom: 3%;
  font-size: 10px;
  width:200px;
  height:200px;
  -webkit-transition: all 0.5s ease-in-out;

}

#logosmall{
  display:block;
  position:relative;
  margin: 0 auto;
  margin-top: 3%;
  font-size: 6px;
  width: 10vh;
  height:10vh;
  -webkit-transition: all 0.5s ease-in-out;

}

}
